*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 16px;
  color: #18333E;

}

.conrainer {
  max-width: 1356px;
  margin: 0 auto;
  padding: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 64px 539px 201px 119px;
  gap: 25px;
  background-color: #F2F8FD;
}

header {
  display: grid;
  
  gap: 25px;
}

.header-logo {
  
  
  display: flex;
  align-content: center;
  
  /* border: 1px dotted  black; */
}

.header-search-area {
  
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  

  /* border: 1px dotted black; */
}

.header-input {
  width: 630px;
  height: 53px;
  padding: 14px 55px;
  background-color: #E9F1FA;
  border-radius: 26.5px;
  outline: transparent;
  border-style: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-input:hover+.header-input-icon,
  .header-input:focus+.header-input-icon {
    fill: #F9D44A;
  }
  
.header-input-icon {
  position: absolute;
  top: 18px;
  left: 18px;
}

.header-button {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: #18333E;
  fill: #FFFFFF;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header-button:hover,
.header-button:active {
  background-color: #F9D44A;
  fill: #18333E;
}

.header-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-profile-area {
 
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px dotted black; */
}

.header-location-notification {
  display: flex;
  align-items: center;
  gap: 14px;
}

.location-logo {
  background-color: transparent;
  fill: #B4BCC4;
}

.city-name {
  font-family: 'Baloo 2', cursive;
  font-weight: 500;
  font-size: 16px;
  color: #18333E;
  margin-right: 58px;
}

.notification-button {
  border-radius: 50%;
  width: 53px;
  height: 53px;
  padding: 14px;
  background-color: transparent;
  border: 1px solid #B4BCC4;
  cursor: pointer;
  fill: #18333E;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.notification-button::after {
  content: url(../images/notifications-mark.png);
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 50px;
  left: 45px;
}

.notification-button-icon {
  background-color: transparent;
}

.notification-button:focus,
.notification-button:hover {
  border-color: #18333E;
  fill: #F9D44A;
}

.profile-button {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: baseline;
}

/*------------SIDEBAR------------*/
.sidebar {
  padding-top: 50px;
}


.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  margin-bottom: 64px;
}

.sidebar-link {
display: flex;
color: #18333E;
font-family: 'Baloo 2', cursive;
font-weight: 500;
font-size: 16px;
align-items: center;
}

.sidebar-item-icon {
  margin-right: 14px;
}


/*----------HERO-----------*/

.hero-section-wrapper {
  justify-content: center;
  margin-bottom: 61px;
}

.hero-title {
  font-weight: 600;
  font-size: 30px;
  color: #18333E;
  margin-bottom: 18px;
}

.hero-recomended-list {
  display: flex;
  gap: 57px;
  margin-bottom: 38px;
}

.hero-recomended-link {
  color: #18333E;
}

.hero-picture-list {
  display: flex;
  gap: 15px;
}

.hero-picture-unit {
  border-radius: 30px;
  margin-bottom: 21px;
}

.hero-picture-item {
  position: relative;
  width: 100%;
}

.underpicture-text {
  font-weight: 500;
  font-size: 22px;
  color: #18333E;
  margin-bottom: 7px;
}

.underpicture-location-text,
.underpicture-location-points {
  font-weight: 500;
  font-size: 16px;
  color: #18333E;
  margin-right: 25px;
}

.heart-button {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  top: 5%;
  left: 69%;
}

.heart-button:hover,
.heart-button:focus {
  background-color: #18333E;
  fill: #F9D44A;
}

.underpicture-location-wrapper {
  display: flex;
  align-items: center;

}

.underpicture-location-icon {
  margin-right: 10px;
  fill: rgba(180, 188, 196, 1);
}

.underpicture-location-icon-star {
  margin-right: 10px;
  fill: rgba(255, 200, 94, 1);

  /* drop-shadow: rgba(254, 198, 92, 0.4),
                rgba(254, 198, 92, 0.4); */
}